.team-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 80px;
  background-color: grey;
}

.team-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  text-align: center;
  width: calc((40% - 80px) / 2);
}
.basicLightbox {
  overflow: scroll;
}
