.basicLightbox {
  overflow: auto;
}

.team-wrapper {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  align-items: center;
  justify-content: center;
  background-color: $white-color;
  width: 240px;
  @include for-size(mobile-only) {
    top: 220px;
  }
  @include for-size(tablet) {
    width: 700px;
  }

  @include for-size(desktop) {
    width: 1000px;
  }
}

.team-card {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 15px;
  width: calc((100% - 60px) / 2);
  align-items: center;
  justify-items: flex-end;

  @include for-size(tablet) {
    width: calc((100% - 260px) / 5);
    margin: 20px;
  }

  @include for-size(desktop) {
    width: calc((100% - 340px) / 5);
    margin: 30px;
  }
}

.team-name {
  margin-bottom: 5px;
  font-size: 12px;
  font-family: $black-color;
  font-weight: 500;
  text-transform: uppercase;
  align-items: stretch;
}

.team-role {
  font-family: $black-color;
  font-size: 12px;
  color: $orange-second-color;
  @include for-size(tablet - 1) {
    font-size: 10px;
    margin: auto;
  }
}

.team-git {
  cursor: pointer;
  transform: scale(1);
  @include transition(transform);

  &:hover,
  &:focus {
    transform: scale(1.5);
  }
}

.team-image {
  display: flex;
  margin-bottom: 10px;

  width: 100%;
  height: auto;
  border-radius: 50%;
}
