<nav class="nav container" data-index="navigation">
    <button type="button" class="nav__logo logo-style" data-index="home">
        <svg class="nav__logo-icon" data-index="home" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M19.82 2H4.18C2.97602 2 2 2.97602 2 4.18V19.82C2 21.024 2.97602 22 4.18 22H19.82C21.024 22 22 21.024 22 19.82V4.18C22 2.97602 21.024 2 19.82 2Z" stroke="#818181" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M7 2V22" stroke="#818181" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M17 2V22" stroke="#818181" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M2 12H22" stroke="#818181" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M2 7H7" stroke="#818181" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M2 17H7" stroke="#818181" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M17 17H22" stroke="#818181" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M17 7H22" stroke="#818181" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <span class="nav__logo-text" data-index="home">Filmoteka</span>
    </button>
    <form class="filmSearch" id="query" data-index="form">
        <input name="query" class="filmSearch__input" data-index="search" type="text"  placeholder="Search films" autocomplete="off" />
        <button type="submit" class="material-icons white search-icon">search</button>
        <p type="submit" class="filmSearch__input-error hidden" data-index="fetchStatus">
        </p>
    </form>
    <div class="nav__btn-section" data-index="headerButtons">
        <button class="nav__btn current"  data-index="home">
        HOME
        </button>
        <button class="nav__btn" data-index="mylibrary">
        MY LIBRARY
        </button>
    </div>
</nav>
