<form class="filmSearch" id="query" action="" data-index="form">
    <input class="filmSearch__input" data-index="serch" type="text" placeholder="Search films" autocomplete="off" />
    <button type="submit" class="material-icons white search-icon">search</button>
    <p type="submit" class="filmSearch__input-error hidden" data-index="fetchStatus">
    </p>
</form>