<form class="signup__form" id="signup-form">
    <h4>Sign in</h4>
    <div class="signup__field">
        <input
        type="email"
        class="signup__email"
        id="signup-email"
        required
        />
        <label for="signup-email">Email address</label>
    </div>
    <div class="signup__field">
        <input
        type="password"
        class="signup__password"
        id="signup-password"
        required
        />
        <label for="signup-password">Choose password</label>
    </div>
    <button class="signup__button">Sign in</button>
</form>