<div class="signup" id="signup">
    <h4>Sign up</h4>
    <form class="signup__form">
        <div class="signup__field">
            <input type="email" class="signup__email" id="signup-email" required />
            <label for="signup-email">Email address</label>
        </div>
        <div class="signup__field">
            <input type="password" class="signup__password" id="signup-password" required />
            <label for="signup-email">Choose password</label>
        </div>
        <button class="signup__button">Sign up</button>
    </form>
</div>