<h4>Sign up</h4>
<form class="signup__form" id="signup-form">
        <input
        type="email"
        class="signup__email"
        id="signup-email"
        placeholder="Email address"
        required
        />
        <input
        type="password"
        class="signup__password"
        id="signup-password"
        placeholder="Choose password"
        required
        />
    <button type="submit" class="signup__button">Sign up</button>
</form>