<button class="nav__btn">
    {{user.displayName}}
</button>
<ul class="user__list">
    <li class="user__item">
        <button class="user__btn">MY LIBRARY</button>
    </li>
    <li class="user__item">
        <button class="user__btn" id="logout">Logout</button>
    </li>
</ul>
