<p class="nav__btn" id="user">
    {{user.displayName}}
</p>
<ul class="user__list">
    <li class="user__item">
        <button class="user__btn" id="myLibrary" data-index="mylibrary">MY LIBRARY</button>
    </li>
    <li class="user__item">
        <button class="user__btn" id="logout">Logout</button>
    </li>
</ul>
