@import './scss/global/normalize';
@import './scss/utils/variables';
@import './scss/utils/mixins';
@import './scss/components/spinner';
@import './scss/global/common';
@import './scss/components/header';
@import './scss/components/header–°hanging';
@import './scss/components/navigation';
@import './scss/components/footer';
@import './scss/components/modal';
@import './scss/components/movie';
@import './scss/components/pagination';
@import './scss/components/modal-team';
